<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mt">


	<!-- 모임 취소하기 -->
	<delete id="member_cancel" parameterType="String">
		delete from  sms_meeting_cnt where user_id=#{user_Id}
	</delete>


	<!-- 미팅인원 체크 -->
	<select id="member_check" parameterType="java.util.HashMap" resultType="int">
		select count(*) from sms_meeting_cnt where user_id=#{user_Id} and meeting_num=#{meeting_num}
	</select>



	<!-- 미팅인원 체크 리스트 -->
	<select id="membercheck_List" parameterType="int" resultType="int">
		select count(*) as memberCheck from sms_meeting_cnt where meeting_num = #{meeting_num}
	</select>

	<!-- 미팅 신청인원 -->
	<select id="registered" parameterType="int" resultType="int">
		select count(*) from sms_meeting_cnt where meeting_num = #{meeting_num}
	</select>

	<!-- 모임 user 신청 -->
	<insert id="meetin_cnt" parameterType="java.util.HashMap">
	
		insert into sms_meeting_cnt values(#{meeting_num},#{user_Id})
	</insert>

	<!-- 현재 파일 찾기 -->
	<select id="uploadFile" parameterType="int" resultType="String">
		select meeting_img_name from sms_meeting where meeting_num=#{meeting_num}
	</select>

	<!-- delete sql -->
	
	<delete id="delete" parameterType="int">
		delete sms_meeting where meeting_num=#{meeting_num}
	</delete>


	<!-- uplode sql -->
	<update id="update" parameterType="com.mycompany.sms.dto.MeetingDTO">
		update sms_meeting set meeting_recruitment=#{meeting_recruitment},
		meeting_price=#{meeting_price},meeting_title=#{meeting_title},
		meeting_comment=#{meeting_comment},meeting_date=#{meeting_date},
		meeting_introduction=#{meeting_introduction},meeting_place=#{meeting_place},
		meeting_address=#{meeting_address}
		<if test="meeting_img_name!=null">
			,meeting_img_name=#{meeting_img_name} 
		</if>
		where meeting_num = #{meeting_num}
	</update>


	<!-- 페이징을 위한 카운트 -->
	<select id="count" resultType="int">
		select count(*) from sms_meeting
	</select>



	<!-- list 버튼 기능 로근인한 유저 멘토넘버값 -->
	<select id="login_user" parameterType="String" resultType="int">
		select count(*) from sms_mentor where user_id=#{user_Id}

	</select>

	<!-- 유저의 아이디값 -->
	<select id="meuser" parameterType="int" resultType="String">
		select
		user_id from sms_mentor where mentor_num = #{mentor_num}
	</select>


	<!-- 멘토의 넘버값 -->
	<select id="mentorNum" parameterType="String" resultType="Integer">
		select
		mentor_num from sms_mentor where user_id = #{user_Id}
	</select>

	<!-- 리스트 쿼리 -->
	<resultMap type="com.mycompany.sms.dto.MeetingDTO" id="meetingDTO"
		autoMapping="false">
		<result column="meeting_title" property="meeting_title" />
			<result column="meeting_introduction" property="meeting_introduction" />
			<result column="meeting_num" property="meeting_num" />
			<result column="meeting_date" property="meeting_date" />
			<result column="meeting_place" property="meeting_place" />
			<result column="meeting_img_name" property="meeting_img_name" />
			<result column="meeting_recruitment" property="meeting_recruitment" />
			<collection property="mentorDTO" javaType="java.util.List"
			ofType="com.mycompany.sms.dto.MentorDTO">
				<result column="mentor_name" property="mentor_name" />
				<result column="mentor_num" property="mentor_num" />
				<result column="mentor_career" property="mentor_career" />
				<result column="mentor_co" property="mentor_co" />
				<result column="mentor_dept" property="mentor_dept" />
				<result column="mentor_image" property="mentor_image" />
			</collection>
	</resultMap>

	<select id="list" parameterType="com.mycompany.sms.dto.PageDTO"
			 resultMap="meetingDTO">
		<![CDATA[
		select b.* from
		(select rownum as rm, a.* from(
		select b.meeting_img_name,
		b.meeting_title, b.meeting_introduction,b.meeting_place,b.meeting_num,b.meeting_date, m.mentor_co,m.mentor_name,
		m.mentor_career, m.mentor_image, b.meeting_recruitment,m.mentor_num,m.mentor_dept
		from sms_mentor m,sms_meeting b
		where m.mentor_num= b.mentor_num
		order by b.meeting_num desc)a)b
		where b.rm>=#{startRow,jdbcType=VARCHAR} and b.rm<=#{endRow,jdbcType=VARCHAR}
		]]>

	</select>


	<!-- 미팅 디테일 -->

	<insert id="ins_meeting" parameterType="com.mycompany.sms.dto.MeetingDTO">
		insert into
		sms_meeting(meeting_num, mentor_num, meeting_recruitment,
		meeting_price, meeting_title,
		meeting_comment, meeting_date,
		meeting_introduction, meeting_place, meeting_address,
		meeting_img_name)
		values(sms_meeting_seq.nextval, #{mentor_num},
		#{meeting_recruitment}, #{meeting_price},
		#{meeting_title},
		#{meeting_comment}, #{meeting_date},
		#{meeting_introduction},
		#{meeting_place}, #{meeting_address}, #{meeting_img_name})
	</insert>

	<select id="select_meeting" resultType="com.mycompany.sms.dto.MeetingDTO"
		parameterType="int">
		select * from sms_meeting where
		meeting_num=#{meeting_num}
	</select>

	<!-- detail 쿼리문 -->
	<select id="select_mentor" parameterType="com.mycompany.sms.dto.MeetingDTO"
		resultType="com.mycompany.sms.dto.MentorDTO">
		select * from sms_mentor where mentor_num=#{mentor_num}
	</select>

	
	
	<select id="meeting_list" resultMap="meetingDTO">
		select b.meeting_img_name,
		b.meeting_title, b.meeting_introduction, b.meeting_place,
		b.meeting_num,
		b.meeting_date, m.mentor_co, m.mentor_name,
		m.mentor_career, m.mentor_image, b.meeting_recruitment,m.mentor_dept
		from sms_mentor m, sms_meeting b
		where
		b.mentor_num = m.mentor_num order by b.meeting_num desc
	</select>
	
	<select parameterType="String" id="forMyPage" resultType="int">
		select meeting_num from sms_meeting_cnt where user_id=#{user_id} 
	</select>

	<select parameterType="int" id="forMyPage2" resultType="com.mycompany.sms.dto.MeetingDTO">
		select *from sms_meeting where mentor_num=#{mentor_num} 
	</select>
	
</mapper>


