<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wannabe">
	<insert id="save" parameterType="com.mycompany.sms.dto.MentorDTO">
		insert into sms_mentor
		values(sms_mentor_seq.nextval, #{mentor_name},
		#{mentor_co},#{mentor_dept},#{mentor_level},#{mentor_career}
		,#{mentor_info},#{mentor_sub},#{mentor_image},#{user_id})
	</insert>

	<insert id="field_insert" parameterType="com.mycompany.sms.dto.MentorFieldDTO">
		insert into
		sms_mentor_field values(#{mentor_num}, #{field_num})
	</insert>

	<delete id="field_delete" parameterType="int">
		delete from sms_mentor_field where mentor_num = #{mentor_num}
	</delete>
	
	<select id="get_mentor_num" resultType="int">
		select max(mentor_num)
		from sms_mentor
	</select>


	<insert id="mentor_insert" parameterType="com.mycompany.sms.dto.MentorFollowDTO">
		insert into
		sms_follow(user_id, mentor_num) values(#{user_id}, #{mentor_num})
	</insert>

	<select id="mentor_check" parameterType="com.mycompany.sms.dto.UserDTO"
		resultType="int">
		select count(*) from sms_mentor where user_id = #{user_id}
	</select>

	<update id="mentorPicUpdate" parameterType="com.mycompany.sms.dto.MentorDTO">
		update sms_mentor set
		mentor_image=#{mentor_image} where user_id=#{user_id}
	</update>


	<select id="getMentor_info" parameterType="String"
		resultType="com.mycompany.sms.dto.MentorDTO">
		select*from sms_mentor
		where user_id=#{user_id}
	</select>

	<update id="mentor_update" parameterType="com.mycompany.sms.dto.MentorDTO">
		update sms_mentor set
		mentor_name = #{mentor_name}, mentor_co=#{mentor_co}, mentor_dept=#{mentor_dept},
		mentor_level=#{mentor_level},
		mentor_career=#{mentor_career}, mentor_info=#{mentor_info}, mentor_sub=#{mentor_sub} where
		user_id=#{user_id}
	</update>


</mapper>










